@import "common";

.crumbs {
  height: 60px;
  line-height: 60px;
  .el-breadcrumb {
    .el-breadcrumb__item {
      line-height: 60px;
      @include font(14px, $gray6, left, 0);
      &:first-child i {
        display: none;
      }
      .is-link {
        font-weight: normal !important;
      }
      &:last-child {
        .el-breadcrumb__inner {
          color: $gray3;
          font-weight: bold;
        }
      }
    }
  }
}
