@import "common";

.screen {
  padding: 10px 20px;
  border: 1px solid $gray9;
  @include radius(4px);
  &-box {
    padding: 5px 0;
    white-space: nowrap;
    @include clearfix();
    .el-radio-group {
      //width: 715px;
      display: inline;
      white-space: normal;
      .el-radio-button {
        margin: 5px 10px 5px 0;
        .el-radio-button__inner {
          border: none;
          border-radius: 0;
        }
      }
    }
    .el-checkbox-group {
      float: left;
      width: 670px;
      min-height: 32px;
      white-space: normal;
      .el-checkbox {
        margin: 11px 0 0;
        margin-right: 20px;
        white-space: normal;
      }
    }
    .el-select {
      //width: 110px;
      width: 150px;
      margin-top: 5px;
      margin-right: 10px;
      .el-input__inner {
        border-color: $themeColor !important;
      }
    }
    .check-all {
      float: left;
      width: 80px;
      margin-top: 11px;
      margin-right: 0;
      min-height: 32px;
      white-space: normal;
    }
  }
  &-box + &-box {
    border-top: 1px dotted #ccc;
  }
  &-name {
    float: left;
    height: 32px;
    margin: 5px 0;
    font-size: 14px;
    line-height: 32px;
  }

  &-select {
    width: 150px;
    .el-input__inner {
      border-color: $themeColor !important;
    }
  }
}
