@import "common";

.side-menu {
  border: 1px solid $gray9;
  @include radius(5px);
  &-title {
    height: 60px;
    line-height: 60px;
    border-bottom: 2px solid #ccc;
    @include font(24px, $themeColor, center, bold);
  }
  &-list {
    padding: 15px 10px;
  }
  &-plug {
    border: none;
    .el-submenu__title {
      height: 50px;
      line-height: 50px;
      @include font(18px, $gray3, left, bold);
    }
    .el-menu-item-group__title {
      padding: 0;
    }
    .el-menu-item {
      height: 40px;
      line-height: 40px;
      @include font(16px, $gray3, left);
    }
    .el-menu-item.is-active {
      background-color: #fce9e9;
    }
  }
}
